/*
 Werte für die Größe 'mittel' bei 16 x 9 mit Basislinien:

 Basislinie_1: 248px
 Basislinie_2: 463px
 Basislinie_3: 678px

 Kopfleiste:    40px
 Rahmenbreite: 572px
 Rahmenbreite: 562px sym. Anordnung
 Rahmenhöhe:   340px
 Bildbreite:   510px
 Bildhöhe:     287px
 Bildhöhe/2:   143px
 Bildbreite/2: 255px
 Fußleiste:     14px

 top rahmenoben:  Basislinie1 - ( Rahmenhöhe / 2 )
 top rahmenunten: Basislinie3 - ( Rahmenhöhe / 2 )
 top bildoben:    Basislinie1 - ( Bildhöhe   / 2 )
 top bildunten:   Basislinie3 - ( Bildhöhe   / 2 )

 Werte für 2 Bilder Größe 'mittel' bei 16 x 9 :

 Vertlinie_1:    560px
 Vertlinie_2:    880px
 left bildoben:  625px
 left bildunten: 305px
*/

div.container { position:absolute;
		top:     50%;
		left:    50%; 
		margin-top: -426px;
                margin-left:-720px;
		width:      1440px;
		height:      900px;
		border:        0px solid transparent;
		padding:       0px; 
		font-size:    14px;
		font-weight: bold;
	      }

div.rahmenol  { position: absolute; top: 78px; left:296px; }
div.rahmenor  { position: absolute; top: 78px; left:868px; }
div.rahmenul  { position: absolute; top:508px; left: 10px; }
div.rahmenur  { position: absolute; top:508px; left:582px; }

div.bildol    { position: absolute; top:107px; left:326px; }
div.bildor    { position: absolute; top:107px; left:898px; }
div.bildul    { position: absolute; top:537px; left: 40px; }
div.bildur    { position: absolute; top:537px; left:612px; }

div.ueber     { position: absolute; top: 16px; left:  20px; font-size:16px; font-weight:600; width:1400px;
		text-align:center; }

div.textol    { position: absolute; top:105px; left:  30px; font-size:16px; font-weight:500; width: 233px;}
div.textur    { position: absolute; top:525px; left:1177px; font-size:16px; font-weight:500; width: 233px;}
div.seite     { position: absolute; top:831px; left:1224px; font-size:12px; font-weight:400;              }

div.seiteback { position: absolute; top:851px; left:1224px; }
div.seitetop  { position: absolute; top:851px; left:1296px; }
div.seitevor  { position: absolute; top:851px; left:1368px; } 
