
div.rahmenol   { position:absolute; 
	       top:v_rahmenobenlinksstr;
	       left:h_rahmenobenlinksstr; }

div.bildol     { position:absolute; 
	       top:v_bildobenlinksstr;   
	       left:h_bildobenlinksstr; }

div.ueber      { position:absolute; top:v_ueberstr; width:1400px;  
               left:120px; font-size:2.0em; font-weight:bold;
	       border:0px solid transparent; padding:0px; text-align:center;
	       color:rgb(255,255,255);
	       }

div.textol     { position:absolute; 
	       top:v_textobenlinksstr; 
	       left:h_textobenlinksstr;
	       width:w_textstr;
	       font-size:1.4em;
	       border:0px solid transparent; 
	       padding:0px; 
	       text-align:left; 
	       color:rgb(255,255,255)}

div.textur     { position:absolute; 
	       top:v_textuntenrechtsstr; 
	       left:h_textuntenrechtsstr;
	       width:w_textstr;
	       font-size:1.4em;
	       border:0px solid transparent; 
	       padding:0px; 
	       text-align:left; 
	       color:rgb(255,255,255)}

div.seite      { position:absolute; top:v_seitestr; left:h_seitestr;
		 border:0px solid transparent; padding:0px;
		 font-size:1.0em; font-weight:normal; text-align:left;
	       }

div.container { position:absolute; top:50%; margin-top:-v_halfdisplaystr;
		width:displaywidthstr; height:displayhighstr; left:50%; 
                margin-left:-h_halfdisplaystr; font-size:2.0em;
		border:0px solid #804000; padding:0px; }
div.seiteback { position:absolute; top:v_linkstr; left:h_linkbackstr;}
div.seitetop  { position:absolute; top:v_linkstr; left:h_linktopstr; }
div.seitevor  { position:absolute; top:v_linkstr; left:h_linknextstr;} 

