/*
  Mit Ruby erzeugte Werte für die Größe 'mittel' oder 'gross':
*/

div.rahmenor { position:absolute; top:188px; 
	       left:734px; }
div.rahmenul { position:absolute; top:1216px; 
	       left:1858px;  }

div.bildor { position:absolute; top:251px;  
	     left:796px; }
div.bildul { position:absolute; top:1279px; 
	     left:1920px;  }

div.ueber  { position:absolute; top:20px; width:1400px;  
             left:312px; font-size:2.0em; font-weight:bold;
	     border:0px solid transparent; padding:0px; text-align:center; }

div.textol { position:absolute; top:251px; width:532px;  
             left:2112px; font-size:1.4em;
	     border:0px solid transparent; padding:0px; text-align:left; }
div.textur { position:absolute; top:1279px; font-size:1.4em; 
	     width:532px; left:796px; 
             padding:0px; text-align:left; }

div.seite  { position:absolute; top:42px; left:3072px;
	     border:0px solid transparent; padding:0px; font-size:1.0em;
	     font-weight:normal; text-align:left; }

div.container { position:absolute; top:50%; margin-top:-888px;
		width:3840px; height:2160px; left:50%; 
                margin-left:-1920px; font-size:2.0em;
		border:0px solid #804000; padding:0px; }
div.seiteback { position:absolute; top:21px; left:3264px;}
div.seitetop  { position:absolute; top:21px; left:3456px; }
div.seitevor  { position:absolute; top:21px; left:3648px;} 
