<!DOCTYPE HTML>
<html>
  <head>
    <title>qqtitel</title>
    <link rel="stylesheet" type="text/css" href="../../../../Baukasten/css-Dateien/qqgroesse/formate.css">
    <meta name="author" content="Frieder Bahret" >
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8">
    <meta http-equiv="content-style-type" content="text/css">
    <meta http-equiv="expires" content="0">
  </head>
  <body style="background-color:black;">
    <div class="container">
      <div class="gross">
	<div style="text-align:center;">
	  <img src="qqbild" alt="Pfarrhaus" />
	</div>
      </div>
      <nav>
	<!-- Seitenangabe:  -->
	<div class="seite">qqseite</div>
      
	<div class="blatt">
	  <a href="qqlinkalbum" accesskey="d">
	    <img src="../../../../Baukasten/NavBilder/knopf_down.jpg" width="qqknopf" alt="Album" />
	  </a>
	</div>
	
	<div class="murks">
	  <a href="qqlinkalbum" accesskey="t">
	    <img src="../../../../Baukasten/NavBilder/knopf_top.jpg" width="qqknopf" alt="Inhalt" />
	  </a>
	</div>
	
	<div class="zurueck">
	  <a href="./qqlinkback"  accesskey="b">
	    <img src="../../../../Baukasten/NavBilder/knopf_back.jpg" width="qqknopf" alt="back" />
	  </a>
	</div>
	
	<div class="vor">
	  <a href="./qqlinknext" accesskey="n">
	    <img src="../../../../Baukasten/NavBilder/knopf_next.jpg" width="qqknopf" alt="next" />
	  </a>
	</div>
      </nav>
    </div>
  </body>
</html>
